NODE_ENV=production
PORT=5000
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/atmosphere
JWT_SECRET=changez-moi-avec-une-cle-secrete-longue-et-aleatoire
ADMIN_EMAIL=admin@votredomaine.com
ADMIN_PASSWORD=changez-moi-mot-de-passe-fort
